@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@layer base {
  body {
    @apply font-[Abel];
  }
}

@keyframes bounce1 {
  0%,
  100% {
    transform: translatey(-5%);
    transition: ease-in;
  }
  100% {
    transform: none;
  }
}

.moreInfoTransition {
  animation: bounce1 0.5s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translatex(-3%);
    transition: ease-in;
  }
  100% {
    transform: none;
  }
}

.userProfileBounce {
  animation: bounce 0.5s;
}

.hoverIcon {
  border-radius: 50%;
  transition: 200ms ease-out;
}

.hoverIcon:hover {
  border-radius: 35%;
  transition: 200ms ease-in;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(29, 29, 29);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #131313;
  border-radius: 30px;
}

.changeColor {
  color: #adadad;
  transition: 300ms;
}

.changeColor:hover {
  color: #eee;
  transition: 300ms;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgba(26, 26, 26, 0.973);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
