@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@layer base {
  body {
    @apply font-[Abel];
  }
}

.hoverIcon {
  border-radius: 50%;
  transition: 200ms ease-out; 
}

.hoverIcon:hover {
  border-radius: 35%;
  transition: 200ms ease-in; 
}

.dropDown {
  transform: translate(0,100);
  transition: 200ms ease-out; 
}